.bg-image {
    background-image: url("https://i.pinimg.com/originals/47/ea/78/47ea78a7cb89de84b201dc38314736ac.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}